MQTT_HOST=mqtt.host
MQTT_PORT=8883
MQTT_USERNAME=user
MQTT_PASSWORD=passw0rd
SFTP_HOST=123.456.789.123
SFTP_PORT=22
SFTP_USER=root
SFTP_PASSWORD=verysecretpasswrod
SFTP_DIRECTORY=/home/ftp-user/
API_TOKEN=SECRET_TOKEN
ADMIN=1468718377